name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v5
      - run: npm i -fg corepack && corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install
      - if: matrix.os == 'ubuntu-latest'
        run: pnpm lint
      - if: matrix.os == 'ubuntu-latest'
        run: pnpm test:types
      - if: matrix.os == 'ubuntu-latest'
        run: pnpm build
      - run: pnpm vitest --coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
